<div class="columns is-centered">
  <div class="column is-two-fifths is-justify-content-center is-align-items-center">
    <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
      <div class="columns is-flex is-flex-direction-column box">
        <app-text-input
          [formControl]="$any(registerForm.controls['username'])"
          [label]="'Username'"
        ></app-text-input>
        <app-text-input
          [formControl]="$any(registerForm.controls['password'])"
          [label]="'Password'"
          [type]="'password'"
        ></app-text-input>

        <app-text-input
          [formControl]="$any(registerForm.controls['confirmPassword'])"
          [label]="'Confirm Password'"
          [type]="'password'"
        ></app-text-input>

        <div class="column">
          <button class="button is-primary is-fullwidth" type="submit">Create an account</button>
        </div>

        <div class="has-text-centered">
          <p>Already have an account? <a href="#" class="has-text-primary">Login</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
<p>form value: {{ registerForm.value | json }}</p>
<p>form status: {{ registerForm.status | json }}</p>
<p>form error: {{ registerForm.errors | json }}</p>
