<div class="column">
  <input
    class="input"
    type="{{ type }}"
    name="{{ label }}"
    [formControl]="control"
    placeholder="{{ label }}"
    value="{{ defaultValue }}"

  />
  <p *ngIf="control.errors?.['required'] && control.touched" class="help is-danger">
    This {{ label }} is invalid
  </p>
  <p *ngIf="control.errors?.['minlength'] && control.touched" class="help is-danger">
    {{ label }} must be at most {{control.errors?.['minlength'].requiredLength}} characters
  </p>

  <p *ngIf="control.errors?.['maxlength'] && control.touched" class="help is-danger">
    {{ label }} must be at most {{control.errors?.['maxlength'].requiredLength}} characters
  </p>
  <p *ngIf="control.errors?.['notMatching'] && control.touched" class="help is-danger">
    Passwords do not match
  </p>
</div>
