<body>
    <div class="hero is-fullheight">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <div class="columns is-flex is-flex-direction-column box">
                <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" >
                    <div class="column">
                        <label for="username">Username</label>
                        <input class="input" type="username" placeholder="username" [(ngModel)]="model.username" name="username">
                    </div>
                    <div class="column">
                        <label for="password">Password</label>
                        <input class="input is-primary" type="password" placeholder="Password"  [(ngModel)]="model.password"  name="password">
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


<!-- <div class="wrapper">
    <div class="columns is-centered wrapper">
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" >
            <div class="columns is-flex is-flex-direction-column">
                <div class="column">
                    <input class="input" type="username" placeholder="username" [(ngModel)]="model.username" name="username">
                </div>
                <div class="column">
                    <input class="input" type="password" placeholder="password" [(ngModel)]="model.password"  name="password">
                </div>
            <button class="button is-small" type="submit">Login</button>
            </div>
        </form>
    </div>
</div> -->