<div>
  <div class="columns">
    <div class="column">
      <app-category-listing [multi]="true" [reload]="true"></app-category-listing>
    </div>
    <div class="column is-narrow">
      <a routerLink="/product/create">Create</a>

    </div>
  </div>
</div>

<app-table
  [columnKeys]="productTableColumns"
  [objectList]="products"
  [routeName]="'/product/'"
></app-table>
<div *ngIf="pagination">
  <app-pagination
    [pagination]="pagination"
    [params]="productParams"
    (loadObjects)="loadProducts()"
  ></app-pagination>
</div>
