<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<ngx-spinner type="line-spin-fade">
  <h3>Loading...</h3>
</ngx-spinner>
<app-nav></app-nav>
<!-- <app-login></app-login> -->
<!-- <h1>HELLO</h1> -->
<div class="container">
  <!-- <div *ngIf="isCursorDisabled" class="overlay"></div> -->
  <router-outlet></router-outlet>
</div>
