<nav class="pagination is-right is-small" role="navigation" *ngIf="pagination">
  <ul class="pagination-list">
    <li *ngFor="let page of visiblePages; let i = index">
      <a
        class="pagination-link"
        [class.is-current]="page === pagination.currentPage"
        (click)="pageChanged(page)"
      >
        {{ page }}
      </a>
    </li>
  </ul>
</nav>

<!-- {{ visiblePages }}
    {{pagination.currentPage}}
    {{pagination.totalPages}}
    {{getVisiblePages(pagination.currentPage, pagination.totalPages)}} -->
